RUST_LOG=info
PORT=3000

# For docker you need to use
# DB_HOST=db
DB_HOST=0.0.0.0
DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=postgres
DB_NAME=rumary-db

DB_URL=postgres://postgres:postgres@db:5432/rumary-db

JWT_SECRET=123456780-abcdefghijklmnopqrstvwx
TOTP_SECRET=123456780-abcdefghijklmnopqrstvw
